.leftbar-main-container {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    background-color: var(--theme-dark);
    width: calc(38% - 120px);
    height: calc(100% - 120px);
    color: var(--theme-main);
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.leftbar-main-container.mobile {
    position: sticky;
    min-width: 0;
    width: calc(100vw - 120px);
    height: calc(100vh - 120px);
    z-index: 0;
}

.logo-image {
    width: 60px; /* Adjust image width as needed */
    height: auto; /* Maintain aspect ratio */
}

.leftbar-intro-text {
    width: 100%;
    max-width: 400px;
    font-size: 35px;
    font-weight: 600;
    margin-top: 70px;
}

.leftbar-intro-text.mobile {
    max-width: 100%;
}

.leftbar-main-text {
    width: 100%;
    max-width: 400px;
    font-size: 17px;
    font-weight: 300;
    margin-top: 40px;
}

.leftbar-main-text.mobile {
    max-width: 100%;
}

.leftbar-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 50px;
    border-radius: 40px;
    border: 3px solid var(--theme-main);
    font-weight: 600;
    margin-bottom: 40px;
}

.leftbar-button:hover {
    background-color: var(--theme-main);
    color: var(--theme-dark);
    cursor: pointer;
}

.link {
    text-decoration: underline; /* Underline the links */
    color: var(--theme-light); /* Set the link color to blue */
}

.link:visited {
    color: var(--theme-light); /* Set the visited link color to blue */
}

.bold {
    font-weight: 550; /* Make the text bold */
}