:root {
  --theme-main: #B3DEC1;
  --theme-light: #E5FCF5;
  --theme-dark: #1C1D21;
  --theme-background: #FEFFFE;
}

html, body {
  margin: 0;
  padding: 0;
  height: calc(100% - 30px);
  font-family: "Inter", sans-serif;
  background-color: var(--theme-background);
}

#root {
  height: 100%
}

input {
  font-family: "Inter", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}