.rightbar-main-container {
    position: relative; /* Add display: flex for proper alignment */
    flex-direction: column; /* Stack elements vertically */
    left: 38%;
    width: 62%;
}

.rightbar-main-container.mobile {
    position: sticky;
    left: 0;
    width: 100vw;
}

.about-me-container,
.app-container {
    position: sticky;
    top: 0;
    margin-top: 100vh;
    padding-inline: 60px;
    height: 100vh;
    background-color: var(--theme-background);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.whats-next-container {
    position: sticky;
    top: 0;
    padding-inline: 60px;
    height: 100vh;
    background-color: var(--theme-main);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.socials-container {
    position: sticky;
    top: 0;
    padding-inline: 60px;
    height: 100vh;
    background-color: var(--theme-light);
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-container {
    padding-top: 60px;
    justify-content: flex-start;
}

.about-me-heading {
    width: 100%;
    font-size: 25px;
    font-weight: 500;
}

.about-me-text {
    margin-top: 20px;
    width: 100%;
    font-size: 20px;
    font-weight: 400;
}

.technical-heading,
.personal-heading {
    margin-top: 60px;
    font-size: 15px;
    font-weight: 650;
}

.personal-heading {
    margin-top: 20px;
}

.technical-text,
.personal-text {
    margin-top: 5px;
    font-size: 15px;
}

.app-title-container {
    display: flex;
    align-items: center;
}

.app-title {
    font-size: 25px;
    font-weight: 500;
    margin-right: 15px;
}

.app-bp {
    margin-right: 15px;
}

.app-role {
    font-size: 15px;
    font-weight: 300;
}

.app-desc {
    margin-top: 20px;
    font-size: 18px;
}

.app-images {
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.app-mobile {
    margin-top: 70px;
    height: 300px;
    z-index: 999;
}

.app-tablet {
    height: 350px;
}

.whats-next-title {
    font-size: 24px;
    font-weight: 550;
    margin-bottom: 30px;
}

.whats-next-title.mobile {
    padding-top: 60px;
}

.whats-next-desc {
    font-size: 24px;
    font-weight: 300;
}

.social-icon {
    font-size: 50px;
    margin-right: 60px;
    color: var(--theme-dark);
    transition: scale 0.5s ease;
    cursor: pointer;
}

.social-icon:hover {
    scale: 1.2;
}